.merriweather{
    font-family:Merriweather;
    font-style:italic;
}
.features{
    padding-bottom:8rem;
    display:grid;
    grid-auto-rows:500px;
    column-gap:5rem;
    row-gap:5rem;
    align-content:center;
    justify-content:center;
}